.navbar {
    background-color: #3a2e2e;
    border-bottom: solid whitesmoke .5px;
    opacity: .6;
    color: rgba(245, 245, 245, 1.0);
}

.navbar::before {
    opacity: .6;
    color: rgba(245, 245, 245, 1.0);
}

.navbar-brand {
    opacity: 1;
    color: rgba(245, 245, 245, 1.0);
}

.nav-link {
    color: whitesmoke;
}

.body {
    background-color: #3a2e2e;
    background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
    background-position: center;
    background-size: auto;
}

.fixedtop {
    position: absolute;
    left: 33%;
    top: 12%;
    align-content: center;
    width: 600px;
}

#search-button {
    background-color: #3a2e2e;
    color: whitesmoke;
    opacity: .8;
    border: 1px solid gray;
}

.form-control {
    background-color: #3a2e2e;
    color: whitesmoke;
    opacity: .8;
}

#result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#result ul li {
    background-color: #3a2e2e;
    color: whitesmoke;
    opacity: .8;
    padding: 5px 0;
}

#result ul li:hover {
    background-color: whitesmoke;
    color: #3a2e2e;
    background: #eee;
}

.card {
    opacity: .8;
}

#notes-header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #3a2e2e;
    color: whitesmoke;
}

#notes-text {
    background-color: whitesmoke;
    color: #3a2e2e;
    padding: 0px 5px 0px;
    font-family: 'Courier New', Courier, monospace;
    border: solid 0.5px gainsboro;
}

#save-button {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #3a2e2e;
    color: whitesmoke;
    opacity: .8;
    border-radius: 13px;
}

.card-body {
    background-color: #3a2e2e;
    color: whitesmoke;
    opacity: .8;
}

#coffee-pic {
    border-color: solid whitesmoke 10px;
    border-radius: 500px;
    width: 300px;
    height: auto;
}